<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday Exchanges</title>

    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

    <!-- Bootstrap 4 CDNs -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"
            integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script> -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous"></script>*@
    <!-- TODO: what about modernizr -->
    <!-- icons -->
    <script src="https://kit.fontawesome.com/9a3845859f.js" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">Holiday Exchanges</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="fas fa-home mr-1"></i>Home
                        </a>
                    </li>
                    @if (Session["UserName"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                    @if (Session["UserName"] != null)
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("Create", "Group")">Create an event</a>
                        </li>
                    }
                </ul>
                <ul class=" navbar-nav ml-auto">
                    @if (Session["UserName"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Register", "Login")">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Login")">
                                <i class="fas fa-sign-in-alt"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item" style="color: white;">
                            <a class="nav-link" href="#">
                                @{
                                    string username = Session["UserName"] != null ? Session["UserName"].ToString() : "Account";
                                }
                                <i class="far fa-user-circle"></i>
                                @username
                            </a>
                        </li>

                    }
                    @if (Session["UserName"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                                @{
                                    string username = Session["UserName"].ToString();
                                }
                                <i class="fas fa-user-circle"></i>
                                @username
                            </a>

                            <!-- #region old Bootstrap 3 dropdown -->
                            <!--<ul class="dropdown-menu">
                            <li class="dropdown-item">
                                @Html.ActionLink("Profile", "DetailsByUsername", "User", routeValues: new { username = Session["UserName"].ToString() }, htmlAttributes: null)
                            </li>
                            <li>
                                @Html.ActionLink("Wishlist", "WishlistByUsername", "User", routeValues: new { username = Session["UserName"].ToString() }, htmlAttributes: null)
                            </li>-->
                            @*<li>@Html.ActionLink("Sign Out", "SignOut", "Login")</li>*@
                            <!--<li>
                                    <a href="@Url.Action("SignOut", "Login")">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        &nbsp;Sign Out
                                    </a>
                                </li>
                            </ul>-->
                            <!-- #endregion -->

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("DetailsByUsername", "User", new { username = Session["UserName"].ToString() })">Profile</a>
                                <a class="dropdown-item" href="@Url.Action("WishlistByUsername", "User", new { username = Session["UserName"].ToString() })">Wishlist</a>
                                <a class="dropdown-item" href="@Url.Action("SignOut", "Login")">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Sign Out
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p><i class="far fa-copyright"></i> @DateTime.Now.Year - Holiday Exchanges</p>
        </footer>
    </div>
</body>
</html>