<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Holiday Exchanges</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Holiday Exchanges", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Session["UserName"] != null)
                    {
                        <li>@Html.ActionLink("Create an event", "Create", "Group")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UserName"] == null)
                    {
                        <li>@Html.ActionLink("Register", "Register", "Login")</li>
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    }
                    @if (Session["UserName"] != null)
                    {
                        <li>@Html.ActionLink("Sign Out", "SignOut", "Login")</li>
                    }
                    <li style="color: white;">
                        <a href="#">
                            @*<i class="glyphicon glyphicon-user"></i>*@
                            <span class="glyphicon glyphicon-user"></span>
                            @{
                                string username = Session["UserName"] != null ? Session["UserName"].ToString() : "Account";
                            }
                            &nbsp;@username&nbsp;
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </li>
                </ul>
            </div>
            @*<div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="color: white; margin-top: -30px; float: right;">
                            <i class="glyphicon glyphicon-user"></i>
                            @{
                                string username = Session["UserName"] != null ? Session["UserName"].ToString() : "Account";
                            }
                            &nbsp;@username
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Holiday Exchanges</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>