@model HolidayExchanges.ViewModels.GroupCreateVM

@{
    ViewBag.Title = "Create Group";
}

<div class="container">

    <section id="GroupCreateTitle">
        <div class="row">
            <div class="page-header col-md-12">
                <h1 class="text-center display-4">Create An Event</h1>
                <hr />
            </div>
        </div>
    </section>

    <section id="GroupCreateForm">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="container-fluid form-horizontal">
                    <div class="row">
                        <div class="col-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label offset-md-1 col-md-3 offset-lg-2 col-lg-2 offset-xl-3 required font-weight-bold" })
                                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required", style = "border: 1px solid #d9534f;" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ExchangeDate, htmlAttributes: new { @class = "col-form-label offset-md-1 col-md-3 offset-lg-2 col-lg-2 offset-xl-3 required font-weight-bold" })
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    @Html.EditorFor(model => model.ExchangeDate, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required", style = "border: 1px solid #d9534f;" } })
                                    @Html.ValidationMessageFor(model => model.ExchangeDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-md-4 col-md-5 offset-xl-5">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-secondary btn-sm">Back To Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>