@model HolidayExchanges.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Group Details";
}
<div class="container">
    <section id="GroupDetailsTitle">
        <div class="row">
            <div class="page-header col-12">
                <h1 class="text-center display-5">Group Details</h1>
                <hr />
            </div>
        </div>
    </section>

    <section id="GroupDetailsList">
        <div class="container body-content">
            <dl class="row">
                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Group.Name)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Group.Name)
                </dd>

                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Group.Creator)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Group.Creator)
                </dd>

                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Group.ExchangeDate)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Group.ExchangeDate)
                </dd>

                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Group.HasBeenPaired)
                </dt>
                <dd class="col-md-9">
                    @{
                        if (Model.Group.HasBeenPaired)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    }
                </dd>

                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Users)
                </dt>

                <!-- TODO: change each user to a link to their wishlist -->
                @{
                    for (int i = 0; i < Model.Users.Count; i++)
                    {
                        if (i == 0)
                        {
                            <dd class="col-md-9">
                                - @Model.Users[0].UserName
                                @*- <a href="@Url.Action("Wishlist", "User", new {id = Model.Users[0].UserID})" style="text-decoration:none;">@Model.Users[0].UserName</a>*@
                            </dd>
                        }
                        else
                        {
                            <dd class="offset-md-3 col-md-9">
                                - @Model.Users[i].UserName
                                @*- <a href="@Url.Action("Wishlist", "User", new { id = Model.Users[i].UserID })" style="text-decoration: none;">@Model.Users[i].UserName</a>*@
                            </dd>
                        }
                    }
                }
            </dl>
        </div>
    </section>

    <section id="GroupDetailButtons">
        <div class="row">
            <div class="container">
                <div class="btn-group offset-md-1 col-md-9" role="group" aria-label="Buttons for group details page">
                    <a class="btn btn-primary mr-0" href="@Url.Action("Index", "Home")">Back to Home</a>

                    @*                    @if (Model.IsCreator)
                        {
                    *@
                    <a class="btn btn-dark mr-0" href="@Url.Action("Edit", new { id = Model.Group.GroupID })">Edit</a>
                    @if (!Model.Group.HasBeenPaired)
                    {
                        <a class="btn btn-secondary" href="@Url.Action("Pair", new { id = Model.Group.GroupID })">Pair</a>
                    }
                    @if (Model.Group.HasBeenPaired)
                    {
                        <a class="btn btn-warning mr-0" href="@Url.Action("Pair", new { id = Model.Group.GroupID })">Pair Again</a>
                        <a class="btn btn-info" href="@Url.Action("SendAssignments", new { id = Model.Group.GroupID })">Send Assignments</a>
                    }
                    @*                    }
                    *@
                </div>
            </div>
        </div>
    </section>
</div>