@model HolidayExchanges.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.ExchangeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.ExchangeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.HasBeenPaired)
        </dt>

        <dd>
            @{
                if (Model.Group.HasBeenPaired)
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No</p>
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users)
        </dt>

        @foreach (var user in Model.Users)
        {
            <dd>
                - @user.UserName
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Group.GroupID }, new { @class = "btn btn-default" })
    @if (!Model.Group.HasBeenPaired)
    {
        @Html.ActionLink("Pair", "Pair", new { id = Model.Group.GroupID }, new { @class = "btn btn-default" })
    }
    @if (Model.Group.HasBeenPaired)
    {
        @Html.ActionLink("Pair Again", "Pair", new { id = Model.Group.GroupID }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Send Assignments", "SendAssignments", new { id = Model.Group.GroupID }, new { @class = "btn btn-info" })
    }
    @Html.ActionLink("Back to Home", "Index", "Home", htmlAttributes: new { @class = "btn btn-default disabled" })
</div>