@model HolidayExchanges.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Details";
}
<div class="container">
    <section id="GroupDetailsTitle">
        <div class="row">
            <div class="page-header col-12">
                <h1 class="text-center display-5">Group Details</h1>
                <hr />
            </div>
        </div>
    </section>

    <!-- TODO: ask jon how to start with fixing details pages in mobile screen size -->
    <section id="GroupDetailsList">
        <div class="container">
            <dl class="row">
                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Group.Name)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Group.Name)
                </dd>

                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Group.ExchangeDate)
                </dt>
                <dd class="col-md-9">
                    @Html.DisplayFor(model => model.Group.ExchangeDate)
                </dd>

                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Group.HasBeenPaired)
                </dt>
                <dd class="col-md-9">
                    @{
                        if (Model.Group.HasBeenPaired)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    }
                </dd>

                <dt class="offset-md-1 col-md-2">
                    @Html.DisplayNameFor(model => model.Users)
                </dt>

                <!-- #region Bootstrap 3 dl-horizontal users list -->
                @* @foreach (var user in Model.Users)
                    {
                        <dd class="col-md-9">
                            - @user.UserName
                        </dd>
                    }
                *@
                <!-- #endregion -->

                @{
                    for (int i = 0; i < Model.Users.Count; i++)
                    {
                        if (i == 0)
                        {
                            <dd class="col-md-9">
                                - @Model.Users[0].UserName
                            </dd>
                        }
                        else
                        {
                            <dd class="offset-md-3 col-md-9">
                                - @Model.Users[i].UserName
                            </dd>
                        }
                    }
                }
            </dl>
        </div>
    </section>

    <section id="GroupDetailButtons">
        <div class="row">
            <div class="container">
                <!-- #region Old button setup -->
                @*<div class="offset-md-3 col-md-9">
                        @Html.ActionLink("Back to Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Group.GroupID }, new { @class = "btn btn-outline-dark" })
                        @if (!Model.Group.HasBeenPaired)
                        {
                            @Html.ActionLink("Pair", "Pair", new { id = Model.Group.GroupID }, new { @class = "btn btn-secondary" })
                        }
                        @if (Model.Group.HasBeenPaired)
                        {
                            @Html.ActionLink("Pair Again", "Pair", new { id = Model.Group.GroupID }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Send Assignments", "SendAssignments", new { id = Model.Group.GroupID }, new { @class = "btn btn-info" })
                        }
                    </div>
                *@
                <!-- #endregion -->
                <!-- #region Button Group Attempt with "a" tags -->
                @*<div class="btn-group" role="group" aria-label="Buttons for group details page">
                        <a class="btn btn-primary" href="@Url.Action("Index", "Home")" type="button">Back to Home</a>
                        <a class="btn btn-outline-dark" type="button" href="@Url.Action("Edit",  new { id = Model.Group.GroupID })">Edit</a>
                        @if (!Model.Group.HasBeenPaired)
                        {
                            <a class="btn btn-secondary" href="@Url.Action("Pair", new { id = Model.Group.GroupID })" type="button">Pair</a>
                        }
                        @if (Model.Group.HasBeenPaired)
                        {
                            <a class="btn btn-danger" href="@Url.Action("Pair", new { id = Model.Group.GroupID })" type="button">Pair Again</a>
                            <a class="btn btn-info" href="@Url.Action("SendAssignments", new { id = Model.Group.GroupID })" type="button">Send Assignments</a>
                        }
                    </div>
                *@
                <!-- #endregion -->
                <!-- TODO: Ask jon why button group isn't working (removing the space between buttons) -->
                <!-- TODO: mention how I'm dumb to believe that you can only use the button tag for btn groups -->
                <div class="btn-group offset-md-1 col-md-9" role="group" aria-label="Buttons for group details page">
                    <a class="btn btn-primary mr-0" href="@Url.Action("Index", "Home")">Back to Home</a>
                    <a class="btn btn-dark mr-0" href="@Url.Action("Edit", new { id = Model.Group.GroupID })">Edit</a>
                    @if (!Model.Group.HasBeenPaired)
                    {
                        <a class="btn btn-secondary" href="@Url.Action("Pair", new { id = Model.Group.GroupID })">Pair</a>
                    }
                    @if (Model.Group.HasBeenPaired)
                    {
                        <a class="btn btn-danger mr-0" href="@Url.Action("Pair", new { id = Model.Group.GroupID })">Pair Again</a>
                        <a class="btn btn-info" href="@Url.Action("SendAssignments", new { id = Model.Group.GroupID })">Send Assignments</a>
                    }
                </div>
            </div>
        </div>
    </section>
</div>