@model HolidayExchanges.Models.Group

@{
    ViewBag.Title = "Edit Group Details";
}
<div class="container">

    @Html.Partial("_PageTitle", "Edit this Group")

    <section id="GroupEditForm">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="container-fluid form-horizontal">
                    <div class="row">
                        <div class="col-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.GroupID)
                            @Html.HiddenFor(model => model.Creator)

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label col-4 offset-md-1 col-md-3 offset-lg-2 col-lg-2 offset-xl-3" })
                                <div class="col-12 col-sm 6 col-md-6 col-lg-5 col-xl-4">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ExchangeDate, htmlAttributes: new { @class = "col-form-label col-7 col-sm-4 offset-md-1 col-md-3 offset-lg-2 col-lg-2 offset-xl-3" })
                                <div class="col-10 col-sm-7 col-md-4 col-lg-3">
                                    @Html.EditorFor(model => model.ExchangeDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.ExchangeDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- TODO: future improvement: allow checkbox to align with other input fields while keeping small-sized box -->
                            <div class="form-group row">
                                <div class="form-check-inline offset-sm-1 offset-lg-2 offset-xl-3">
                                    @Html.LabelFor(model => model.HasBeenPaired, htmlAttributes: new { @class = "form-check-label col-12" })
                                    @Html.CheckBoxFor(model => model.HasBeenPaired, htmlAttributes: new { @class = "form-check-input", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.HasBeenPaired, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- #region Trying to fix date time issue -->
                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.ExchangeDate.Value.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ExchangeDate.Value.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                        @Html.ValidationMessageFor(model => model.ExchangeDate.Value.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ExchangeDate.Value.TimeOfDay, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ExchangeDate.Value.TimeOfDay, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                        @Html.ValidationMessageFor(model => model.ExchangeDate.Value.TimeOfDay, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            *@
                            <!-- #endregion -->

                            <div class="form-group row">
                                <div class="offset-sm-2 offset-md-4 col-md-5 offset-xl-5">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-secondary btn-sm">Back To Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>