@model HolidayExchanges.ViewModels.ForgotPasswordVM

@{
    ViewBag.Title = "Reset Your Password";
}

<div class="container">

    <section id="ForgotPWTitle">
        <div class="row">
            <div class="col-12 page-header">
                <h1 class="text-center display-4">Forgot Your Password?</h1>
                <hr />
            </div>
        </div>
    </section>

    <section id="ForgotPWForm">
        <div class="container">
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @id = "form-forgetpw" }))
            {
                @Html.AntiForgeryToken()
                <div class="container form-horizontal">
                    <div class="row">
                        <div class="col-12 offset-md-1">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-form-label col-sm-4 col-md-4 offset-lg-1 col-lg-3" })
                                <div class="col-12 col-md-6 col-lg-5">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-form-label col-sm-4 col-md-4 offset-lg-1 col-lg-3" })
                                <div class="col-12 col-md-6 col-lg-5">
                                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-form-label col-sm-5 col-md-4 offset-lg-1 col-lg-3" })
                                <div class="col-12 col-md-6 col-lg-5">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-md-4 col-sm-8">
                                    <input type="submit" class="btn btn-primary" id="ForgotPWBtn" value="Reset" />
                                    <a href="@Url.Action("Login", "Login")" class="btn btn-outline-secondary" id="ForgotPWBacktoLoginBtn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>