@model HolidayExchanges.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Register.css"
      rel="stylesheet"
      type="text/css" />

<div class="container">

    @Html.Partial("_PageTitle", "Register")

    <section id="RegisterForm">
        <div class="container">
            @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @id = "form-register" }))
            {
                @Html.AntiForgeryToken()
                <div class="container-fluid form-horizontal">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <fieldset id="RegisterLoginInfo">
                                    <legend>Login Information</legend>
                                    <div class="offset-md-1">
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.UserName, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3 offset-lg-1 col-lg-3 required font-weight-bold" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required", style = "border: 1px solid #d9534f;", @autocomplete = "on" } })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Password, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3 offset-lg-1 col-lg-3 required font-weight-bold" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "required", style = "border: 1px solid #d9534f;", @autocomplete = "on" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-form-label col-sm-4 col-md-4 offset-lg-1 col-lg-3 required font-weight-bold" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", required = "required", style = "border: 1px solid #d9534f;", @autocomplete = "on" })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <fieldset id="RegisterPersonalInfo">
                                    <legend>Personal Information</legend>

                                    <div class="offset-md-1">
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.FirstName, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3 offset-lg-1 col-lg-3" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.LastName, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3 offset-lg-1 col-lg-3" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Email, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3 offset-lg-1 col-lg-3 required font-weight-bold" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "someone@gmail.com", required = "required", style = "border: 1px solid #d9534f;", @autocomplete = "on" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Birthday, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3 offset-lg-1 col-lg-3" })
                                            <div class="col-12 col-sm-6 col-md-5 col-lg-3">
                                                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <fieldset id="RegisterContactInfo">
                                    <legend>Contact Information</legend>

                                    <div class="offset-md-1">
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Address1, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = "Address Line 1" } })
                                                <small class="form-text text-muted">Street address, P.O. box, company name, c/o</small>
                                                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Address2, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", placeholder = "Address Line 2" } })
                                                <small class="form-text text-muted">Apartment, suite, unit, building, floor, etc.</small>
                                                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.City, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City or Town" } })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.State, new { @class = "col-form-label col-sm-4 col-md-4 offset-lg-1 col-lg-3" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", placeholder = "State, Province, Region" } })
                                                <small class="form-text text-muted">If from US, please enter 2-letter abbreviation (ex. MA)</small>
                                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Zip, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3" })
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", placeholder = "ZIP or Postal Code" } })
                                                @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Country, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3" })
                                            <div class="col-12 col-md-6 col-lg-5">
                                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "Country" } })
                                                <!-- implement cool drop down -->
                                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-form-label col-sm-4 offset-md-1 col-md-3" })
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "tel", @id = "PhoneNumber" } })
                                                <small class="form-text text-muted">US based Phone Number format: (123) 456-7890</small>
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col text-center">
                            @Html.Button("Register", "btn btn-primary", "RegisterSubmit", HtmlExtensionsButton.HtmlButtonTypes.submit)
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PhoneNumber').usPhoneFormat({
                format: '(xxx) xxx-xxxx',
            });
        });
    </script>
}