@model HolidayExchanges.ViewModels.WishlistViewModel

@{
    ViewBag.Title = "Wishlist";
}

<style>
    details {
        border: 1px solid black;
        border-radius: 4px;
        padding: .5em .5em 0;
        margin: 1em;
    }

    summary {
        font-weight: bold;
        margin: -.5em -.5em 0;
        padding: 0.5em;
    }

    details[open] {
        padding: 0.5em;
    }

        details[open] summary {
            border-bottom: 1px solid black;
            margin-bottom: 0.5em;
        }

    details summary:focus {
        outline: none;
    }
</style>

<div class="container">
    <section id="WishlistTitle">
        <div class="row">
            <div class="page-header col-12">
                <h1 class="text-center display-5">Wishlist for @Model.UserName</h1>
                <hr />
            </div>
        </div>
    </section>

    <section id="Wishlist">
        <div class="container body-content">
            <div class="row">
                <div class="col-12">
                    @foreach (var wish in Model.Wishlist)
                    {
                        <details>
                            <summary>@wish.ItemName</summary>
                            <div class="container-fluid">
                                <dl class="row">
                                    <dt class="col-5 col-md-4 offset-lg-1 col-lg-3">
                                        Description
                                    </dt>
                                    <dd class="col-12 col-md-8">
                                        @wish.Description
                                    </dd>

                                    <dt class="col-5 col-md-4 offset-lg-1 col-lg-3">
                                        Quantity
                                    </dt>
                                    <dd class="col-12 col-md-8">
                                        @wish.Quantity
                                    </dd>
                                    <dt class="col-8 col-md-4 offset-lg-1 col-lg-3">
                                        Special Instructions
                                    </dt>
                                    <dd class="col-12 col-md-8">
                                        @wish.PurchasingInstructions
                                    </dd>
                                    <dt class="col-7 col-md-4 offset-lg-1 col-lg-3">
                                        Already Bought?
                                    </dt>
                                    <dd class="col-12 col-md-8">
                                        @{
                                            if (wish.HasBeenBought)
                                            {
                                                <p>Yes</p>
                                            }
                                            else
                                            {
                                                <p>No</p>
                                            }
                                        }
                                    </dd>
                                </dl>
                                <div class="row">
                                    <div class="col-6 offset-lg-1">
                                        @Html.ActionLink("View", "Details", "Wish", routeValues: new { id = wish.WishID }, htmlAttributes: new { @class = "btn btn-info" })
                                    </div>
                                </div>
                            </div>
                        </details>
                    }

                    <div class="container mt-1">
                        <dl class="row">
                            <dt class="col-3 offset-md-1 col-md-1">
                                @Html.DisplayNameFor(model => model.Count)
                            </dt>
                            <dd class="col-9">
                                @Html.DisplayFor(model => model.Count)
                            </dd>
                        </dl>
                    </div>

                    <div class="row">
                        <div class="offset-1 col-11">
                            @Html.ActionLink("Back to Profile", "Details", "User", new { id = Model.UserID }, new { @class = "btn btn-outline-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />

    <!-- TODO: finish implementing user wishlist search area (use inline form) -->
    <section id="WishlistSearchForm">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Search below to view another user's wishlist</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <!-- TODO: Fix inline form between small and medium screen widths -->
                        @using (Html.BeginForm("Wishlist", "User", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            <div class="row">
                                <div class="form-group col-12 col-md-4">
                                    <label class="sr-only" for="@Model.SearchUserName">Username</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" name="@Html.NameFor(model => model.SearchUserName)" id="SearchUserName" value="@Model.SearchUserName" placeholder="Username">
                                </div>

                                <div class="form-group col-12 col-md-auto mb-2">
                                    <label>OR</label>
                                </div>

                                <div class="form-group col-12 col-md-4">
                                    <label class="sr-only" for="@Model.SearchEmail">Email</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" name="@Html.NameFor(model => model.SearchEmail)" id="SearchEmail" value="@Model.SearchEmail" placeholder="Email">
                                </div>

                                <div class="form-group col-12 col-md-2">
                                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>