@model HolidayExchanges.ViewModels.WishlistViewModel

@{
    ViewBag.Title = "Wishlist";
}

<style>
    details {
        border: 1px solid black;
        border-radius: 4px;
        padding: .5em .5em 0;
        margin: 1em;
    }

    summary {
        font-weight: bold;
        margin: -.5em -.5em 0;
        padding: 0.5em;
    }

    details[open] {
        padding: 0.5em;
    }

        details[open] summary {
            border-bottom: 1px solid black;
            margin-bottom: 0.5em;
        }

    details summary:focus {
        outline: none;
    }
</style>

<div class="container body-content">
    <section id="WishlistTitle">
        <div class="row">
            <div class="page-header col-12">
                <h1 class="text-center display-5">Wishlist for @Model.UserName</h1>
                <hr />
            </div>
        </div>
    </section>

    <section id="Wishlist">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @{
                        foreach (var wish in Model.Wishlist)
                        {
                            <details>
                                <summary>@wish.ItemName</summary>
                                <div class="container-fluid">
                                    <dl class="row">
                                        <dt class="col-5 col-md-4 offset-lg-1 col-lg-3">
                                            Description
                                        </dt>
                                        <dd class="col-12 col-md-8">
                                            @wish.Description
                                        </dd>

                                        <dt class="col-5 col-md-4 offset-lg-1 col-lg-3">
                                            Quantity
                                        </dt>
                                        <dd class="col-12 col-md-8">
                                            @wish.Quantity
                                        </dd>
                                        <dt class="col-8 col-md-4 offset-lg-1 col-lg-3">
                                            Special Instructions
                                        </dt>
                                        <dd class="col-12 col-md-8">
                                            @wish.PurchasingInstructions
                                        </dd>
                                        <dt class="col-7 col-md-4 offset-lg-1 col-lg-3">
                                            Already Bought?
                                        </dt>
                                        <dd class="col-12 col-md-8">
                                            @{
                                                if (wish.HasBeenBought)
                                                {
                                                    <p>Yes</p>
                                                }
                                                else
                                                {
                                                    <p>No</p>
                                                }
                                            }
                                        </dd>
                                    </dl>
                                    <div class="row">
                                        <div class="col-6 offset-lg-1">
                                            @Html.ActionLink("View", "Details", "Wish", routeValues: new { id = wish.WishID }, htmlAttributes: new { @class = "btn btn-info" })
                                        </div>
                                    </div>
                                </div>
                            </details>
                        }
                    }

                    <div class="container mt-1">
                        <dl class="row">
                            <dt class="col-3 offset-md-1 col-md-1">
                                @Html.DisplayNameFor(model => model.Count)
                            </dt>
                            <dd class="col-9">
                                @Html.DisplayFor(model => model.Count)
                            </dd>
                        </dl>
                        <div class="row">
                            <div class="offset-md-1 col-auto">
                                @Html.ActionLink("Back to Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="WishlistSearch">
        <div class="container">
            <div class="row">
                <div class="col-12" id="dvWLSearch">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-12">
                                <p>Search for another user's wishlist:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-4 mr-md-0 mb-2">
                                <label class="sr-only col-form-label" for="searchCriteria">Search Criteria</label>
                                <input type="text" id="searchCriteria" name="searchCriteria" placeholder="Username/email" class="form-control" />
                            </div>
                            <div class="col-12 col-md-auto">
                                <input type="submit" class="btn btn-outline-primary mt-0 mb-2 ml-0 ml-md-1" id="wLSearchBtn" value="Search" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#wLSearchBtn').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("WishlistSearch")',
                    method: 'GET',
                    async: false,
                    data: {
                        searchCriteria: $('#searchCriteria').val()
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                        /* redirect to second api endpoint */
                            alert("You have successfully registered. You will be redirected to the main page.");
                            window.location.href = response.redirectUrl;
                        }
                        else {
                            alert(response.ex);
                        }
                    },
                    error: function () {
                        alert("Something failed. Try again.");
                    }
                });
            });
        });
    </script>
}